h1 {
    font-family: $passion-one;
    font-weight: $regular;
    font-size: $xxx-large;
    letter-spacing: 4px;
}

h2 {
    font-family: $sarabun;
    font-weight: $regular;
    font-size: $xx-large;
}