$white: #fff;
$light-black: #1b1b1b;
$light-green: #15d897;


// Typography

// Font Family
$passion-one: 'Passion One', cursive;
$sarabun: 'Sarabun', sans-serif;

// Font Weights
$regular: 400;

// Font Sizes
$xxx-large: 55px;
$xx-large: 35px;
$x-large: 1.125rem;